@import url("//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css");

body {
background-image:url('https://cloud.githubusercontent.com/assets/5033756/5782786/a803030e-9d83-11e4-84cc-d935fc7a7c7d.jpg');
}
h1 {
  color:Coral;
}
li {
  color: Coral;
}
.well {
   color: rgba(245, 245, 245, 0.4);
}

